services:
  unifi-portal:
    image: unifi-portal-app
    build:
      context: . # Assumindo que o Dockerfile está na mesma pasta
    container_name: unifi_portal_service
    ports:
      - "80:80"
    restart: unless-stopped
    environment:
      - UNIFI_CONTROLLER_URL=https://192.168.1.10:8443
      - UNIFI_SITE_ID=default
      - UNIFI_USERNAME=seu_usuario
      - UNIFI_PASSWORD=sua_senha
      # Variáveis de criptografia não são mais estritamente necessárias se usar apenas ENV,
      # mas pode manter se quiser compatibilidade com o modo antigo de arquivo.